<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headlines Page</title>
</head>
<body>
<h1>Top Headlines from {{ channel }}</h1>
<form action="/" method="POST">
    <input type="text" name="publication" placeholder="search"/>
    <input type="submit" value="Submit"/>
</form>
{% for article in articles %}

    <b><a href="{{ article.link }}">{{ article.title }}</a></b><br/>
    <i>{{ article.published }}</i><br/>
    <p>{{ article.summary }}</p>
    <hr/>
{% endfor %}

</body>
</html>